/**
 * partials/header
 * ---
 */


// Header container

.header,
.logo {
  text-align: center;
}

.header-title {
  font-family: 'Montez', cursive;
  font-size: 100px;
  font-weight: normal;
}

.logo-img {
  border-radius: 50%;
}
