.article-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.post-meta {
  font-weight: 300;
  margin-bottom: 15px;
}

.article-content {
  margin-top: 20px;
}

.article-content,
.comment-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
}

.separator {
  margin: 0 3px;
}

// fonts

article p,
.intro p,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6,
.article-content ul,
.article-content ol {
  font-family: serif;
}

.type-loaded {
  article p,
  .intro p,
  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6,
  .article-content ul,
  .article-content ol {
    font-family: 'Lora', serif;
  }

  article p,
  .intro p {
    font-size: 20px;
    line-height: 1.68em;
  }
}

article p,
.intro p {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.65em;
  margin-bottom: 30px;

  a {
    color: #ff53a5;
  }
}

.article-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.article-content {
  h1, h2, h3, h4, h5, h6 {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

.article-content {
  ul, ol {
    font-size: 18px;
    font-weight: normal;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    line-height: 1.68em;
    margin-bottom: 4px;
  }
}

.view-article {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  color: rgba(0,0,0,.44);
  font-size: 16px;
  margin-bottom: -10px;
}

.reply.view-article {
  margin-bottom: 0;
}

.tag-title {
  background: #ff53a5;
  color: #fff;
  padding: 8px;
  display: inline-block;
  margin-bottom: 10px;
}
