/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Lato", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

.article-title {
  font-size: 30px;
  font-weight: bold; }

.post-meta {
  font-weight: 300;
  margin-bottom: 30px; }

.article-content,
.home .post,
.comment-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  margin-bottom: 20px; }

.separator {
  margin: 0 3px; }

article p {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.68em;
  margin-bottom: 20px; }
  article p a {
    color: #ff53a5; }

.view-article {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.44);
  font-size: 16px; }

.comments-title,
.comment-reply-title {
  font-size: 20px;
  font-weight: bold; }

.comments-title {
  margin-bottom: 20px; }

.comment-name {
  font-size: 18px; }

.comment-author {
  float: left;
  padding-right: 16px; }

.comment-container {
  overflow: hidden;
  margin-bottom: 20px; }

.comment-meta,
.comment-notes,
.logged-in-as {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.comment-meta {
  margin-bottom: 10px; }

.avatar {
  border-radius: 50%; }

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  font-family: 'Lato', sans-serif; }
  .comment-form-comment label,
  .comment-form-author label,
  .comment-form-email label,
  .comment-form-url label {
    display: block;
    margin-bottom: 8px;
    font-weight: 300; }
  .comment-form-comment input, .comment-form-comment textarea,
  .comment-form-author input,
  .comment-form-author textarea,
  .comment-form-email input,
  .comment-form-email textarea,
  .comment-form-url input,
  .comment-form-url textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.11); }
  .comment-form-comment input,
  .comment-form-author input,
  .comment-form-email input,
  .comment-form-url input {
    height: 34px; }

.form-submit input {
  float: right;
  border: 0;
  background: #ff53a5;
  color: #fff;
  padding: 10px;
  font-size: 14px; }
  .form-submit input:hover {
    text-decoration: underline; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 740px;
  padding: 0 15px;
  margin: 40px auto;
  position: relative; }

.content {
  margin: 30px auto; }

/**
 * partials/header
 * ---
 */
.header,
.logo {
  text-align: center; }

.header-title {
  font-family: 'Montez', cursive;
  font-size: 100px;
  font-weight: normal; }

.logo-img {
  border-radius: 50%; }

/**
 * partials/nav
 * ---
 * Menus
 */
/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
